body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: url('/body.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.center {
    width: 50%;
    margin: 0px auto;

}

.section__main-contaner {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #daede7;

}

.main__images-contaner {
    display: flex;
    justify-content: center;
}

.image__main-images {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0px auto;
    transition: all 0.2s ease;
}

.main__description-contaner {
    display: flex;
    flex-direction: column;
}

.title__description-main {
    font-size: 20px;
}

.text__description-main {
    font-size: 14px;
    font-weight: 300;
    text-align: end;
}

.main__button_contaner {
    position: relative;
    overflow: hidden;
    bottom: 0px;
    cursor: pointer;
    width: 50%;
    background: #c06471;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin: 0px auto;
    transition: background 0.2s ease-in;

}

.main__button_contaner:hover {
    background: #ad4e5a;
}

.main__button_contaner .circle {
    position: absolute;

    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}